<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" md="6">
        <v-sheet rounded="lg" min-height="60vh">
          <v-form
        ref="form"
        v-model="valid"
        lazy-validation>
        <v-row justify="center">
         <v-col cols="10" sm="6">
          <h1>Welcome back</h1>
          <span>Sign in to continue to Lollipop account.</span> 
           <br> <br>
        <v-text-field
          filled
          dense
          color="#512DA8"
          v-model="email"
          :rules="emailRules"
          label="Email"
          required>
        </v-text-field>
        <v-text-field
          filled
          dense
          color="#512DA8"
          v-model="password"
          label="Password"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show1 ? 'text' : 'password'"
          @click:append="show1 = !show1"
          required>
        </v-text-field>
        
        <v-btn
          tile
          class="mt-4"
          dark
          color="#512DA8"
          block >
          Login
    </v-btn>
          <br>
        <v-btn
        block
        tile
        color="error"
        @click="loginSubmit">
        <v-icon left>
        mdi-google
        </v-icon>
          Google
      </v-btn> <br>
      <span>Have an account? <a href="#" style="color:#512DA8; text-decoration: none;">Create an account</a> </span>      

    </v-col>
    </v-row>
  </v-form>
             
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import firebase from 'firebase';

  export default {
    name: 'LoginApp',

    data: () => ({
       valid: null,
       username: null,
       password: null,
       email: '',
       show1: false,
       emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    
    }),
    methods:{
      loginSubmit() {
        const provider = new firebase.auth.GoogleAuthProvider()
        firebase.auth().signInWithRedirect(provider)
          .catch(console.log)
      }
    }
  }
</script>
<style scoped>
  .v-sheet{
    padding-top:15%;
  }
  
</style>
