<template>
    <v-container>
      <v-row justify="center">

        <v-col cols="12" lg="2" sm="12">
            <v-sheet rounded="lg">
              <v-list color="transparent">
               
                <v-list-item v-for="(msg, index) in uniquePeople"
                :key="index" link>
               
                <v-badge
                bordered
                bottom
                color="green accent-4"
                dot
                offset-x="22"
                offset-y="22">
                <v-list-item-avatar > 
                    <v-img :src="msg.photoURL"></v-img>
                </v-list-item-avatar>
                </v-badge>

                  <v-list-item-content>
                    <v-list-item-title>
                     {{ msg.username }}
                    </v-list-item-title>
                    <v-list-item-action-text>
                      Since {{ msg.createdAt }}
                    </v-list-item-action-text>
                  </v-list-item-content>
                </v-list-item>

              </v-list>
            </v-sheet>
          </v-col>

      <v-col>
        <v-card
        elevation="0"
        class="mx-auto overflow-hidden"
        max-height="80vh">

      <v-bottom-navigation
              absolute
              color="white"
              horizontal
              scroll-target="#scroll-threshold-example"
              scroll-threshold="500">

     <v-row justify="center">
         <v-col cols="12" lg="12" > 
            <div class="msg-box">
                <v-form v-on:submit.prevent="sendMessage">
                    <v-text-field
                    color="#512DA8"
                    v-model="message"
                    persistent-hint
                    label="Write here!"
                    filled
                    append-icon="mdi-comment"
                ></v-text-field> 
            </v-form>
        </div>
         </v-col>
    </v-row>
    
    </v-bottom-navigation>

    <v-sheet
      id="scroll-threshold-example"
      class="overflow-y-auto pb-16"
      max-height="80vh">

   
      <v-responsive height="85vh">

        <v-list lines="two" >
                <v-list-item
                v-for="(msg, index) in messages"
                :key="index">
                
                <v-list-item-avatar>
                    <v-img :src="msg.photoURL"></v-img>
                </v-list-item-avatar>
                    
                
                <v-list-item-content>
                    <v-list-item-title> <strong style="color:#512DA8;">{{ msg.username}}</strong></v-list-item-title>
                    <v-list-item-subtitle>{{ msg.msgUser}} </v-list-item-subtitle>
                    <v-list-item-action-text>{{ msg.time }}</v-list-item-action-text>
                </v-list-item-content>
            
                <v-list-item-action>
                    <v-list-item-action-text>{{ msg.createdAt }}</v-list-item-action-text>
                    </v-list-item-action>
                </v-list-item>
            
            </v-list>

      </v-responsive>
    </v-sheet>       
    </v-card>

         
      </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>

  import firebase from 'firebase'
  import moment from 'moment'

    export default {
      name: 'RoomChat',
        mounted() {
            this.db.collection('messages').orderBy('createdAt')
                .onSnapshot(querySnap => {
                this.messages = querySnap.docs.map(doc => doc.data())

              this.uniquePeople =  this.messages.filter((obj, pos, arr) => {  // FAKE AHAH
                  return arr.map(mapObj =>
                        mapObj.username).indexOf(obj.username) == pos;
                  });
                // console.log(this.uniquePeople);
                })
        },
        
      data: () => ({
        user: firebase.auth().currentUser,
        db: firebase.firestore(),
        message: '',
        messages: [],
        search: '',
        time: moment().format('LT'),
        uniquePeople: []
      }),
      methods:{
          async sendMessage() {
            const messageInfo = {
                'userUID': this.user.uid,
                'username': this.user.displayName,
                'photoURL': this.user.photoURL,
                'msgUser': this.message,
                'createdAt': this.time,
            }
            await this.db.collection('messages').add(messageInfo)
            this.message = ''
            }
            
        }
    }
  </script>
