<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      flat
    >
      <div class="d-flex align-center">
        <v-img
          alt="Logo"
          class="shrink mr-2"
          contain
          src="@/assets/lollipop.svg"
          transition="scale-transition"
          width="40"
        />
      </div>

      <v-spacer></v-spacer>
      
      <div v-if="user">
        <v-avatar
          class="hidden-sm-and-down"
          color="grey darken-1 shrink"
          size="32">
      </v-avatar>
        <v-btn
          text
          @click="logout">
          <span class="mr-2">Sign off</span>
        </v-btn>
      </div>
    </v-app-bar>

    <v-main class="grey lighten-3">
       <RoomChat v-if="user" />
       <LoginApp v-else />
    </v-main>
  </v-app>
</template>

<script>

import firebase from 'firebase';
import LoginApp from './components/Login.vue'
import RoomChat from './components/Room.vue';

export default {
  name: 'App',

  components: {
     LoginApp,
     RoomChat
  },

  data: () => ({
    user: firebase.auth().currentUser
  }),

  methods:{
    logout() {
        firebase.auth().signOut()
        },
  }
  
};
</script>
<style>

  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;500;700&display=swap');

    html *{
      font-family: 'Figtree', sans-serif;
    }
</style>

